/* home */

// Container Highlighter

// *[class],
// *[id] {
//     position: relative;
//     outline: 2px dashed red;


//     &::before,
//     &::after {
//         position: absolute;
//         top: 0;
//         left: 0;
//         z-index: 1;
//         padding: 0.25em;
//         background-color: red;
//         color: #fff;
//         font-family: "Bebas Neue";
//         font-size: 0.9rem;
//         border: 1px solid #fff;
//     }

//     &[class]::before {
//         content: "." attr(class);
//     }

//     &[id]::after {
//         content: "#" attr(id);
//         right: 0;
//         left: auto;
//         background-color: blue;
//     }

//     &[id] {
//         outline-color: blue;
//     }
// }


// Styles

* {
    box-sizing: border-box;
}

html {
    background-color: hsl(53, 100%, 95%);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 1rem;
    line-height: 1.5;
    color: hsl(240, 24%, 14%);
}

body h1 {
    font-family: "Bebas Neue";
    font-size: 48pt;
}

body h2 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16pt;
}

body h3 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14pt;
}

body h4 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 12pt;
}

body ol,
ul {
    margin-left: 1rem;
    padding: 1rem;
}

body p,
ul,
li {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12pt;
}

.link-github,
.link-codepen,
.link-allstyles,
.link-stylesheet,
.link-guidelines,
.link-downloadcss,
.link-downloadhtml {
    font-family: "Montserrat";
    font-size: 12 pt;
}

.link-codepen,
.link-downloadcss,
.link-downloadhtml {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}


svg {
    width: 1em;
}

.container {
    max-width: 80ch;
    margin: 8vh auto;
}


.skip-link {
    font-family: "Rockwell";
    font-size: 18pt;
    color: hsl(68, 10%, 40%);
}

a,
li a,
p a {
    text-decoration: none;
    color: hsl(156, 92%, 24%);
    font-weight: 600;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
    list-style: none;
    padding: 2;
    margin: 0;
    grid-gap: 1rem;
    background-color: hsl(68, 10%, 40%);
    border-radius: 1rem;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.nav-list a:hover,
.nav-list a:focus {
    color: hsl(68, 10%, 40%);
    background-color: hsl(53deg, 100%, 95%);
    border-radius: 0.5rem;
    outline: none;
    padding: 1em;
}

p {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

:is(h1, h2, h3) {
    line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
    margin-top: 2em;
}