@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/buttons.min.css";
@import "https://unpkg.com/open-props/masks.corner-cuts.min.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* functions */ /* variables */ /* home */
* {
  box-sizing: border-box;
}

:root {
  --black: 0, 0%, 0%;
  --white: 0, 0%, 100%;
  --bg-color: 53, 100%, 95%;
  --nav-color: 68, 10%, 40%;
  --link-color: 156, 92%, 24%;
}

html {
  background-color: hsl(var(--bg-color));
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 1rem;
  line-height: 1.5;
  color: hsl(var(--black));
}

body h1 {
  font-family: "Bebas Neue";
  font-size: 48pt;
}

body h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16pt;
}

body h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14pt;
}

body h4 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12pt;
}

body ol,
ul {
  margin-left: 1rem;
  padding: 1rem;
}

body p,
ul,
li {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12pt;
}

.link-github,
.link-codepen,
.link-allstyles,
.link-stylesheet,
.link-guidelines,
.link-downloadcss,
.link-downloadhtml {
  font-family: "Montserrat";
  font-size: 12 pt;
}

.link-codepen,
.link-downloadcss,
.link-downloadhtml {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

svg {
  width: 1em;
}

.container {
  max-width: 80ch;
  margin: 8vh auto;
}

.skip-link {
  font-family: "Rockwell";
  font-size: 18pt;
  color: hsl(var(--nav-color));
}

a,
li a,
p a {
  text-decoration: none;
  color: hsl(var(--link-color));
  font-weight: 600;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  list-style: none;
  padding: 2;
  margin: 0;
  grid-gap: 1rem;
  background-color: hsl(var(--nav-color));
  border-radius: 1rem;
}

.nav-list a:hover,
.nav-list a:focus {
  color: hsl(var(--nav-color));
  background-color: hsl(var(--bg-color));
  border-radius: 0.5rem;
  outline: none;
  padding: 1em;
}

p {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

/* main */
